

.banner-img {
  position: relative;
  border: 6px solid transparent;
  animation: glowBorder 5s ease-in-out infinite;
  box-shadow: 0 0 10px rgba(135, 36, 227, 0.24);
  z-index: 1;
}

@keyframes glowBorder {
  30% {
    border-color: rgba(138, 43, 226, 0.3);
    box-shadow: 0 0 10px rgba(138, 43, 226, 0.3);
  }
  50% {
    border-color: rgba(138, 43, 226, 0.6);
    box-shadow: 0 0 20px rgba(138, 43, 226, 0.6);
  }
  100% {
    border-color: rgba(138, 43, 226, 0.3);
    box-shadow: 0 0 10px rgba(138, 43, 226, 0.3);
  }
}
